/localhost.sqlite
/projectDesign/indexPage.ai
/projectDesign/indexPage.pdf
/projectDesign/loginPage.ai
/projectDesign/savetext.txt
/projectDesign/signupPage.ai
/projectDesign/slika_1.jpg
/projectDesign/taskPage.ai
/icons
/forTests.html

