<!DOCTYPE html>
<html style="height: 100%; width: 100%;" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Taskmanager</title>
    
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <link rel="icon" href="../static/logo2.png" sizes="16x16 32x32" type="image/png">
</head>
<body>
    
    <header>
            <div class="content-header">
                <div class="title">
                    <h1 class="title auth">Add Task</h1>

                    <form action="{{ url_for('add_task') }}" method='post'>
                        <div class="dropdown">
                                <select name="day" class="choose-day">
                                     <option value="Monday">Monday</option>
                                     <option value="Tuesday">Tuesday</option>
                                     <option value="Wednesday">Wednesday</option>
                                     <option value="Thursday">Thursday</option>
                                     <option value="Friday">Friday</option>
                                     <option value="Saturday">Saturday</option>
                                     <option value="Sunday">Sunday</option>
                                </select>
                        </div>

                        <div>
                            <input name="date" id="myInput">
                        </div>

                        <div>
                            <textarea type="text" name="text" placeholder="Add task.." required></textarea> <br>


                            <button>Submit</button>
                        </div>

                    
                    </form>
             </div>               
            </div>
        </header>
    <script src="../static/js/final.js"></script>
</body>
</html>