<!DOCTYPE html>
<html style="height: 100%; width: 100%;" lang="en">
<head>
    <meta charset="UTF-8">
    {% if notification %}
        <title>({{ notification }}) {{ user.username }} | Taskmanager</title>
    {% else %}
        <title>{{ user.username }} | Taskmanager</title>
    {% endif %}
    
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="icon" href="../static/logo2.png" sizes="16x16 32x32" type="image/png">

    <meta name="viewport" content ="width=device-width,initial-scale=1,user-scalable=yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header>

        <div class="navigation">
                <div style="background-color: transparent" class="dropdown">
                  <ion-icon name="list-outline"></ion-icon>
                  <div class="dropdown-content">
                    <a href="/tasks">tasks</a>
                    <a href="/my_profile">myProfile</a>
                    <a href="/logout">logOut</a>
                  </div>
                </div>
                <div class="profile-picture">
                    {% if not img %}
                        <a href="my_profile">
                            <img style="border-radius: 50px; width: 35px; height: 35px;" src="../static/profile.png"/>
                        </a>
                    {% else %}
                        <a href="my_profile">
                            <img style="border-radius: 50px; width: 35px; height: 35px;" src="{{ img.image_url }}"/>
                        </a>
                    {% endif %}

                </div>
            </div>

            <div class="content-header">
                <div class="title">
                    <h1 class="title auth">Add Task</h1>

                    <form action="{{ url_for('add_task') }}" method='post'>

                        <div>
                            <input name="date" id="myInput">
                        </div>

                        <div>
                            <textarea type="text" name="text" placeholder="Add task.." required></textarea> <br>


                            <button>Submit</button>
                        </div>

                    
                    </form>
             </div>               
            </div>

        </header>

    <div style="padding: 25px 0; text-align: center; height: 60px; background-color: #393b40;">
            <p id="copyright" style="font-family: 'Montserrat', sans-serif; margin-top: auto; margin-bottom: auto; font-size: 7px; color: white;">Made by: Aljoša Lazarevič Gostinčar</p>
        </div>
    <script src="../static/js/final.js"></script>
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
</body>
</html>