<!DOCTYPE html>
<html style="height: 100%; width: 100%;" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Taskmanager</title>
    
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

    <link rel="icon" href="../static/logo2.png" sizes="16x16 32x32" type="image/png">
</head>
<body>
    <header>
        <div class="content-header">
            <div class="title">
                <h1>Welcome To Task Manager</h1>
                
                <div class="btn-auth">
                    <a class="btn signup" href="/signup">Signup</a>
                    <a class="btn login" href="/login">LogIn</a>
                </div>
            </div>
            
        </div>
    </header>

</body>
</html>