<!DOCTYPE html>
<html style="height: 100%; width: 100%;" lang="en">
<head>
    <meta charset="UTF-8">
    {% if notification %}
        <title>({{ notification }}) {{ user.username }} | Taskmanager</title>
    {% else %}
        <title>{{ user.username }} | Taskmanager</title>
    {% endif %}

    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

    <meta name="viewport" content ="width=device-width,initial-scale=1,user-scalable=yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../static/logo2.png" sizes="16x16 32x32" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

    <header>
            <div class="navigation">
                <div style="background-color: transparent" class="dropdown">
                  <ion-icon name="list-outline"></ion-icon>
                  <div class="dropdown-content">
                    <a href="/tasks">tasks</a>
                    <a href="/add_task">add task</a>
                    <a href="/logout">logOut</a>
                  </div>
                </div>
                 <div class="profile-picture">
                    <a href="tasks">
                        <img style="float: right; width: 30px; height: 30px;" src="../static/logo2.png"/>
                    </a>
                 </div>
            </div>

        <!------- MODAL ADD IMAGE_URL ------->

        <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createModalLabel">Profile picture URL!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="image_url">Image URL (you can post your image on imgur, open image in new tab and then copy URL here)</label>
                            <textarea class="form-control" id="image_url" rows="2" placeholder="Enter your profile image URL"></textarea>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="Submit" type="button" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        <!------- END MODAL ------->

            <div class="content-header">
                <div style="text-align:center;" class="title">
                    {% if not img %}
                    <div class="btn-img" style="width: 100px;">
                        <div class="img-wrap">
                            <a href="#" data-toggle="modal" data-target="#createModal">
                                <img style="margin-top: -200px; border-radius: 50px; width: 100px; height: 100px;" src="../static/profile.png"/>

                                <div class="text">Upload</div>
                            </a>
                        </div>
                    </div>
                    {% else %}
                    <div class="btn-img" style="width: 100px;">
                        <div class="img-wrap">
                            <a href="#" data-toggle="modal" data-target="#createModal">
                                <img style="margin-top: -200px; border-radius: 50px; width: 100px; height: 100px;" src="{{ img.image_url }}"/>

                                <div class="text">Upload</div>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                    <div class="profile_data">
                        <p> {{ user.username }}</p>
                        <p> {{ user.email }}</p>
                        <p>Completed: {{ user.completed }} </p>
                        <p style="color: #21b08f;">This weeks tasks: {{ this_week_count }} </p>
                    </div>
                </div>
            </div>

        </header>
    <div style="padding: 25px 0; text-align: center; height: 60px; background-color: #393b40;">
        <p id="copyright" style="font-family: 'Montserrat', sans-serif; margin-top: auto; margin-bottom: auto; font-size: 7px; color: white;">Made by: Aljoša Lazarevič Gostinčar</p>
    </div>

    <script src="../static/js/final.js"></script>
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
    <script src="../static/js/post-image_url.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% if not img %}
        <script type="text/javascript">
            window.onload = function(){//window.addEventListener('load',function(){...}); (for Netscape) and window.attachEvent('onload',function(){...}); (for IE and Opera) also work
                alert('You can change your profile pictur by clicking on it:)');
            }
        </script>
    {% endif %}
</body>
</html>
