<!DOCTYPE html>
<html style="height: 100%; width: 100%;" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Taskmanager</title>

    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

    <meta name="viewport" content ="width=device-width,initial-scale=1,user-scalable=yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../static/logo2.png" sizes="16x16 32x32" type="image/png">
</head>
<body>
    <header>
            <div class="nav">
                <div style="background-color: transparent" class="dropdown">
                  <ion-icon name="list-outline"></ion-icon>
                  <div class="dropdown-content">
                    <a href="/tasks">tasks</a>
                    <a href="/add_task">add task</a>
                    <a href="/logout">logOut</a>
                  </div>
                </div>
            </div>

            <div class="content-header">
                <div style="text-align:center;" class="title">
                    {% if not image %}
                    <div class="btn-img" style="width: 150px;">
                        <div class="img-wrap">
                            <a href="/upload">
                                <img style="margin-top: -200px; border-radius: 50px; width: 100px; height: 100px;" src="../static/profile.png"/>

                                <div class="text">Upload</div>
                            </a>
                        </div>
                    </div>
                    {% else %}
                    <div class="btn-img" style="width: 150px;">
                        <div class="img-wrap">
                            <a href="/upload">
                                <img style="margin-top: -200px; border-radius: 50px; width: 100px; height: 100px;" src="{{ image }}"/>

                                <div class="text">Upload</div>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                    <p style="margin-top: 10px;"> {{ user.username }}</p>
                    <p style="margin-top: 10px;"> {{ user.email }}</p>
                    <p style="margin-top: 10px;">Completed: {{ user.completed }} </p>
                </div>
            </div>

        </header>
    <div style="padding: 25px 0; text-align: center; height: 60px; background-color: #393b40;">
        <p id="copyright" style="font-family: 'Montserrat', sans-serif; margin-top: auto; margin-bottom: auto; font-size: 7px; color: white;">Made by: Aljoša Lazarevič Gostinčar</p>
    </div>
    <script src="../static/js/final.js"></script>
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
</body>
</html>