<!DOCTYPE html>
<html style="height: 100%; width: 100%;" lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo app</title>
    
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>
<body> 
    
         <header>
            <div class="content-header">
                <div class="title">
                    <h1 class="title auth">Login</h1>
                    
                     <form method="post">
                             
                        <input type="text" name="username" placeholder="Enter a username.." required> <br>
                        <input type="password" name="password" placeholder="Enter a password.." required> <br>
                         
                        <button>Submit</button>
                    
                    </form>
             </div>               
            </div>
        </header>
               

</body>
</html>