<!DOCTYPE html>
<html style="height: 100%; width: 100%;" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Taskmanager</title>
    
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

    <link rel="icon" href="../static/logo2.png" sizes="16x16 32x32" type="image/png">
    <meta name="viewport" content ="width=device-width,initial-scale=1,user-scalable=yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body >
            <header>
                <div class="content-header">
                    <div class="title">
                        <h1 class="title auth">Signup</h1>
                        
                         <form method="post">
                             
                            <input type="text" name="username" placeholder="Enter a username.." required> <br>
                            <input type="email" name="email" placeholder="Enter your email address.." required> <br>
                            <input type="password" name="password" placeholder="Enter a password.." required> <br>
                            <input type="password" name="repeat" placeholder="Repeat the password.." required> <br>

                            <button>Submit</button>
                    
                        </form>
                 </div>               
                </div>
            </header>
               

</body>
</html>