<!DOCTYPE html>
<html style="height: 100%; width: 100%;" lang="en">
<head>
    <meta charset="UTF-8">
    {% if notification %}
        <title>({{ notification }}) {{ user.username }} | Taskmanager</title>
    {% else %}
        <title>{{ user.username }} | Taskmanager</title>
    {% endif %}
    
    <link rel="stylesheet" href="../static/style.css">
    <meta name="viewport" content ="width=device-width,initial-scale=1,user-scalable=yes" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../static/logo2.png" sizes="16x16 32x32" type="image/png">
</head>
<body>
        <header>
          <!-------------- Navigacija ---------------->
            <div class="navigation">
                <div style="background-color: transparent" class="dropdown">
                  <ion-icon name="list-outline"></ion-icon>
                  <div class="dropdown-content">
                    <a href="/add_task">add task</a>
                    <a href="/my_profile">myProfile</a>
                    <a href="/logout">logOut</a>
                  </div>
                </div>
                <div class="profile-picture">
                    {% if not img %}
                        <a href="my_profile">
                            <img style="border-radius: 50px; width: 35px; height: 35px;" src="../static/profile.png"/>
                        </a>
                    {% else %}
                        <a href="my_profile">
                            <img style="border-radius: 50px; width: 35px; height: 35px;" src="{{ img.image_url }}"/>
                        </a>
                    {% endif %}

                </div>
            </div>

           <!-------------- Tasks display ---------------->
             <div class="content-header">
                <div class="tasks">
                            {% for task in tasks %}
                                        <div class="test">
                                            <form method="POST" action="/task/{{task.id}}/delete">
                                            <ion-icon name="checkmark-circle-outline"></ion-icon>
                                                <td>{{ task.text }}</td>
                                                {% if today == task.task_date %}
                                                    <td><a style="font-size: 12px;color: #21b08f">Today</a></td>
                                                    <td><a style="font-size: 12px;color: #21b08f">{{ task.task_date }}</a></td>
                                                {% else  %}
                                                <td><a style="font-size: 12px;color: #21b08f">{{ task.day }}</a></td>
                                                <td><a style="font-size: 12px;color: #21b08f">{{ task.task_date }}</a></td>
                                                {% endif %}
                                                    <td><button type="submit" name="action" value="delete" class="button delete">delete</button></td>
                                                    <td><button type="submit" name="action" value="completed" class="button edit">completed</button></td>
                                            </form>
                                        </div>
                            {% endfor %}
                    
                </div>

                </div>

            </header>

        <div style="padding: 25px 0; text-align: center; height: 60px; background-color: #393b40;">
            <p id="copyright" style="font-family: 'Montserrat', sans-serif; margin-top: auto; margin-bottom: auto; font-size: 7px; color: white;">Made by: Aljoša Lazarevič Gostinčar</p>
        </div>
               
        <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
        <script src="../static/js/final.js"></script>
</body>
</html>